@model IEnumerable<TactSoft.Core.Model.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
    int i = 1;
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <a asp-action="Create" class="btn btn-success mb-2"><i class="fa-regular fa-square-plus"></i></a>
            <table class="table table-bordered border-primary table-sm text-center" id="example1">
                <thead>
                    <tr class="text-green">
                        <th>Sl</th>
                        <th>
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="text-info">
                            <td>@i</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="text-green"><i class="fa-solid fa-pen-to-square"></i></a> |
                                <a asp-action="Delete" asp-route-id="@item.Id" class="text-red"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Scripts{
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": true, "autoWidth": true,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    </script>
}