@model TactSoft.Core.Model.CareerModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Details</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div>
                <h4>CareerModel</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.University)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.University)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TotalExperience)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TotalExperience)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ExpertiseArea)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ExpertiseArea)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CurrentCompany)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CurrentCompany)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CurrentSalary)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CurrentSalary)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ExpectedSalary)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ExpectedSalary)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CoverLetter)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CoverLetter)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Resume)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Resume)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NoticePeriod)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NoticePeriod.NoticeName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Category.CategoryName)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="DataShow" class="btn btn-info">Back to List</a>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->